/*
CASCADING STYLESHEET
*/

    /*ELIMINA MARGEM AUTO DO NAVEGADOR*/


    *{ /*O * é para alterar o comportamento de toda a pagina*/
        box-sizing: border-box;
    }

    html, body
    {
        margin: 0;
    }


/*ALINHAMENTOS, ESPAÇAMENTO, LARGURAS E ALTURAS*/

/* ALINHAMENTO */
header, main, footer
{
    text-align: center; /* text-align = alinhamento de texto */
}

/*MAIN - DOADORES*/
main section.donors /* Pode ser usado apenas .donors, mas não tem tanta força */
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 1fr = 1 fração*/
}

/*FORM*/
section.form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px; /*Espaçamento entre caixa de dialogo e texto ao lado*/
    background-color: #ff4f4f;
    color: white;
    padding: 16px 64px;
    align-items: center;
    border-radius: 6px;
    font-size: 18px;
}

form input, /*ARRUMAR BOTÕES / CAIXA DE DIALOGO DENTRO DO FORM*/
form button
{
    /*COMPACTADO
    width: 100%;
    margin-bottom:4px;
    box-sizing: border-box;
    ádding: 8px 16px;
    border-radius: 4px
    border: 1px solid;
    */

    /*Extenso*/
    /*Largura*/
    width: 100%;
    /*Espaçamentos*/
    margin-bottom: 4px;
    /*Corrigindo comportamento padrão css*/
    /*box-sizing: border-box; (Está sendo usado no * em cima) /*Elimina tamanho auto do navegador na caixa de dialogo e botões*/
    /*PREENCHIMENTO*/
    padding-top: 8px; /*PREENCHIMENTO Ou - padding: 8pc 16pc;*/
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    /*BORDAS*/
    border-top-left-radius: 4px; /*Arredondamento das bordas da caixa de dialogo*/
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px white solid;  
    
}

form input{

    background-color: transparent;
}

form input::placeholder{ /*Pseudo elemento | :: como se tivesse pegando de dentro do input*/

    color: #ffffffaa; /*Cor do texto dentro da caixa, texto de fundo*/
}

form button{
    font-weight: bold; /*Texto do botão*/
}


/*CORPO*/
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    /*Fonte*/
    font-family: 'Roboto', sans-serif; /*Link da fonte letra (fonts.google.com)*/

    /*Fundo*/
    background-color: #f9f9f9; /*Cor gelo em hexadecimal*/
}



/* ESTRUTURA - ESPAÇAMENTO */
header, .form, main
{
    /*ESPAÇAMENTOS COM MARGIN*/
    margin-bottom: 70px;

    /*Limite dos elementos na página - Largura - width*/

    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
header button
{
    margin-top: 8px;
    padding: 8px 16px;

    /*Bordas*/
    border-radius: 4px;
    border: 1px red solid; /*Tira borda do botão*/
    

    /*Cor*/
    background-color: #ff4f4f; /*Cor de fundo do botão "Quero*/
    color: white; /*Cor do texto*/
    font-weight: bold; /*Negrito*/
}

/*TITULO - ALINHAMENTO DE TEXTOS*/
header h1, main h2 /*Espaçamento no DOE e no Últimos doadores*/
{
    margin-bottom: 70px;
}

header p span{
    color: #ff4f4f;  /*"38.000" e "1,9%"*/
    font-weight: bold;
}


header h2{
    color: #ff4f4f; /*Texto "Sua doação importa"*/
}

main h2 p span{
    color: #ff4f4f /*main h2 + p span chama a função do html | mudar a cor do texto dentro do span*/
}

.form h2
{
    text-align: right;
}

/*RODAPÉ*/
footer
{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}

